* {
  margin: 0 auto;
}

.displayFlex {
  display: flex;
}

.displayGrid {
  display: grid;
}

.App {
  margin: 5em;
}

#firstPage {
  grid-template-areas:
    "fichaheader fichaheader fichaheader"
    "fichacolumn1 fichacolumn2 fichacolumn3"
    "fichacolumn1 fichacolumn2 fichacolumn3"
    "fichacolumn1 fichacolumn2 fichacolumn3";
}

#column1 {
  grid-area: fichacolumn1;
  display: flex;
}
#sideSpecs {
  grid-area: leftSideColumn1;
}

#column2 {
  grid-area: fichacolumn2;
}
#column3 {
  grid-area: fichacolumn3;
}

#generalInfor {
  grid-area: fichaheader;
}
#generalInfoInput {
  grid-template-columns: 8em 8em 8em;
  gap: 3em;
}

#charNameDiv {
  flex-direction: column;
}

#leftSide1 {
  grid-area: rightSideColumn1;
}
#leftSide2 {
  grid-area: rightSideColumn2;
}
#leftSide3 {
  grid-area: rightSideColumn3;
}
#leftSide4 {
  grid-area: rightSideColumn4;
}
